#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #151E3D;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #F5F5F5;
}

header {
    background-color: #F5F5F5;
}

nav a:hover {
    background-color: #F5F5F5;
    color: #151E3D;
}

.book, .join {
    background-color: #F5F5F5;
    color: #151E3D;
}

#background {
    background-color: #F5F5F5;
}

.msg {
    background-color: #F5F5F5;
}

footer {
    background-color: #F5F5F5;
    color: #151E3D
}

#background {
    height: 725px;
}

.home-title {
    color: #151E3D;
}

h4 {
    color: #151E3D;
}

.msg h2 {
    color: #151E3D;
}

.msg p {
    color: #151E3D;
}

footer a {
    color: #151E3D;
}

footer a:hover {
    color: #151E3D;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}